* {
        margin: 0px;
        padding: 0px;
}

main{
        padding-left: 40px;
}

body{
        background-color: rgb(207, 185, 185);
        
}

header{
        position: fixed;
        background-color: cornflowerblue;
        display: block;
        width: 100%;
}

nav ul li{
        display: inline-block
        }

nav{
        margin: 10px;
        padding: 10px;
        display: inline-block;
}

h1 {
        color: rgb(178, 207, 195);
        font-family: sans-serif;
        display: inline-block;
}



h3{
        font-family: sans-serif; font-size: 18px; color: rgb(51, 50, 50);
}
ol li{
        background-color: coral;
}

.flex{
        display: flex; 
        flex-direction: row;
        align-content: center;
        padding-top: 70px;   
        justify-content: right;     
}
.nota1{ 
        width: 50%;
        display: inline-block;

}

.nota1__colornota{       
        color:rgb(51, 50, 50);
        font-family: sans-serif;
        font-size: 14px;
        width: 50%;

   }

.nota1__imagenrigh{
        width: 50%;
 }



 .grid{
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: 60px 250px;
         padding: 30px;
        }

        


 .submenu{
         display: none;
         position: absolute;
         background: cornflowerblue ;
 }

 ul li:hover .submenu{
         display: block;
 }

 .item{
         display: block;
 }

@media screen and (width: 780px;)
                {
        .flex{
                flex-direction: column;
        }
        .grid{
                flex-direction: column;
        }
}

.animate__animated {
        transition: 5s;
}

.animate__animated:hover{

        font-size: 50px;
        transition: whith 2s higth 2s
}
        
.paddingtop {
        padding-top: 70px;
}

footer {
        background-color: darksalmon;
        padding-bottom: 0%;
}